.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #efefef;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  // list-style-type: disc;
  width: 0px;

  #imagenPerfil {
    text-align: center;

    img {
      width: 90%;
      margin: auto;
    }
  }

  hr {
    background-color: white;
    margin: 15px 20px 20px 15px;
  }

  &.open {
    width: 250px;
  }

  ul {
    // margin-top: 55px;
    list-style: circle;
    // font-family: Arial, sans-serif;

    li {
      // font-family: Arial, Helvetica, sans-serif;
      // height: 26px;
      color: gray;
      line-height: 25px;

      a {
        font-size: 18px;
        margin-left: -20px;

        &:hover {
          color: white;
        }

        &::before {
          color: $verde;
          // content: url(../imagenes/vineta-menu.png);
        }

        &::after {
          content: '';
        }
      }

      ul {
        margin-left: 25px;
        padding-left: 25px;
      }
    }
  }

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    // font-weight: 600;
    color: white;
    display: block;
    transition: 0.3s;
  }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.boton-menu {
  position: absolute;
  left: 4%;
  display: inline-block;
  cursor: pointer;
  top: 30px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.bar2 {
  width: 20px;
}

.change {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: white;
  }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (min-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }


}

@media (min-width: 800px) {
  .sidenav {
    width: 250px;

    #boton-menu-interno {
      display: none;
    }

    #boton-menu-externo {
      display: none;
    }
  }

  #main {
    margin-left: 250px; }
}