#cuerpos {
  h1 {
    font-size: 2rem;
    text-shadow: 2px 3px 3px grey;
  }

  .desde {
    font-style: italic;
  }

  .lugar {
    font-size: 1.2em;
    font-weight: 600;
  }

  ul {
    margin-left: 25px;
  }

  .cargo {
    font-weight: bold;
    text-transform: uppercase;
  }

  .ref {
    font-style: italic;
  }

  hr {
    color: black;
    text-shadow: 2px 3px 3px grey;
    margin-bottom: 30px;
  }
}