@import "./variables";
@import "./menu";
@import "./cuerpos";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  font-size: 16px;
  line-height: 22px;
  color: $colorFontbase;
}

ul#datos-personales {
  list-style: none;
  font-weight: bold;

  span {
    font-weight: normal;
  }
}

#contenedor {
  width: 95%;
  margin-left: 10px;
  padding: 50px 10px;

  hr {
    background-color: black;
  }
}

ul {
  &.listas {
    list-style: none;

    li {
      line-height: 30px;

      &::before {
        content: url(../imagenes/vineta-lista.png);
        margin-right: 10px;
      }

      &:first-child {
        font-weight: bold;
        font-size: 1.4em;
        margin-top: 30px;
        margin-bottom: 25px;

        &::before {
          content: none;
        }

        &::first-letter {
          font-size: 1.8rem;
        }
      }
    }
  }
}

#footmenu {
  width: 250px;
  font-size: .9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}

@media (min-width: 800px) {
  #contenedor {
    width: 75%;
    margin-left: 20px;
    padding: 50px;

  }
}