<ul class="listas">
  <li>Actitudes y Aptitudes</li>
  <li>Capacidad de negociaciòn</li>
  <li>Flexibilidad en el trato</li>
  <li>Organizada y responsable</li>
  <li>Puntualidad y Buena Presencia</li>
  <li>Cordialidad</li>
  <li>Facilidad para integrarme a grupos de trabajo</li>
  <li>Interés en aprender nuevas tareas</li>
  <li>Tenacidad y puntualidad para cumplir con tareas asignadas</li>
  <li>Facilidad para la comunicación</li>
  <li>Excelente ortografía</li>
  <li>Pro-activa</li>
</ul>

<ul class="listas">
  <li>Idiomas</li>
  <li>Francés (básico)</li>
  <li>Inglés (básico)</li>
  <li>Portugués (básico)</li>
</ul>