<h3>Cursos aprobados</h3>
<i>para ejercer como cajera (Elektra)</i>
<hr>

<ul class="listas">
  <li>Área de trabajo</li>
  <li>Flujo de efectivo</li>
  <li>Control de efectivo y documentos</li>
  <li>Arqueo de caja</li>
  <li>Cierre de operaciones</li>
  <li>Introducción al Kaizen</li>
  <li>Que es Honestel</li>
  <li>Pilares y principios de Honestel</li>
  <li>Recomendaciones para un reporte responsable</li>
  <li>Como realizar un reporte de Honestel</li>
  <li>Dinero express</li>
  <li>Línea de crédito</li>
  <li>Préstamo personal</li>
  <li>Seguro Vidamax C-3</li>
  <li>Nuevo estado de cuenta LAM</li>
  <li>Sistema de aclaraciones - LAM</li>
  <li>Seguridad de la información 2013</li>
  <li>Introducción al riesgo operativo - 2013 LAM</li>
  <li>Análisis de documentos</li>
</ul>
<ul class="listas">
  <li>Formas de pago</li>
  <li>Calidad en el servicio</li>
  <li>Dinero express cancelaciones y reactivaciones</li>
  <li>Sistema dinero express: envios y pagos</li>
  <li>Dinero express 2010</li>
  <li>Prevención y detección del lavado de dinero 2011</li>
  <li>Atenciòn Telefònica de Lìneas de Crèditos y Resoluciòn de
    Planteamientos</li>
  <li>Cobro Telefònico de Saldos y/o Deudas de larga data</li>
</ul>