<div id="cuerpos">
  <h4>Antecedentes Laborales</h3>
    <h1>Experiencia como cajera</h1>
    <hr>

    <p class="dese">Desde mayo de 2010 a junio 2013</p>
    <p class="cargo">Cajera Universal (full time)</p>
    <p class="lugar"><u>Lugar:</u> ELEKTRA de ARGENTINA S.A. (cìa.financiera y venta de electrodomèsticos)<br>
      <small>suc Banda del Rìo Salì</small>
    </p>
    <p>Mis tareas consistieron en:</p>
    <ul>
      <li>cobro a clientes de la casa y cobro del PAGO FÀCIL,(que funcionaban en forma conjunta)</li>
      <li>Apertura de caja</li>
      <li>Arqueo</li>
      <li>Concentraciòn de efectivo</li>
      <li>Cierre de caja</li>
      <li>preparaciòn de bolsa y planilla para entrega de efectivo a transportadora de caudales</li>
    </ul>
</div>