<div id="cuerpos">
  <h4>Antecedentes Laborales</h3>
    <h1>Experiencia como secretaria Contable</h1>
    <hr>
    <p class="desde">Desde febrero de 1995 hasta 30 marzo 2012</p>
    <p class="cargo">Secretaria contable</p>
    <p class="lugar"><u>Lugar:</u> Estudio Méndez-Antùnez<br>
      <small>José Colombres 148, San Miguel de Tucumán</small>
    </p>
    <p>Mis tareas consistieron en:</p>
    <ul>
      <li>Administración Contable</li>
      <li>auditorìas bancarias</li>
      <li>libro IVA (computarizados y manuales)</li>
      <li>gestorìa</li>
      <li>manejo de facturación</li>
      <li>liquidación de haberes y previsionales (convenios:Rural,UATRE,SEOC,FOTIA)</li>
      <li>libro de remuneraciones (computarizados y manuales)
        manejo de programas y aplicativos del AFIP, DGR, DRM,
        atención a clientes</li>
      <li>Secretaria-Asistente. ( part-time )</li>
    </ul>
    <p class="ref">Referencias laborales: CPN: Norma Antùnez,0381-4302876 –
      0381-155291720 CPN: Fernando Méndez Fernández, 0381-4302876</p>
    <hr>

    <p class="desde">Desde marzo 2006 a junio 2007</p>
    <p class="cargo"><b>Auxiliar contable (part-time)</b></p>
    <p class="lugar"><u>Lugar:</u> Molina y Asociados<br>
      <small>San Juan Nº 652,2º C, S.M. Tucumàn</small>
    </p>
    <p>Mis tareas consistieron en:</p>
    <ul>
      <li>Administración Contable (auxiliar)</li>
      <li>libros IVA (manuales y
        computarizados)</li>
      <li>gestoría ( municipalidad, DGR, DGI, Secretaria de Trabajo)</li>
      <li>liquidación de haberes y previsionales( convenios: UOCRA, UTA, Docentes
        Privados)</li>
      <li>libro de remuneraciones (manuales y computarizados)</li>
      <li>manejo de
        programas de AFIP</li>
      <li>atención de clientes</li>
    </ul>
    <p class="ref">Referencias laborales : CPN: Gerez Dante 0381-4305420</p>

    <hr>

    <p class="desde">Desde agosto de 2004 a septiembre 2005</p>
    <p class="cargo">Secretaria contable</p>
    <p class="lugar"><u>Lugar:</u> Consultora Luis D.Cejas-Management<br>
      <small>Mendoza Nº 654,6º P.(edificio La Gaceta) S.M. Tucumán</small>
    </p>
    <p>Mis tareas consistieron en:</p>
    <ul>
      <li>Administración Contable (auxiliar)</li>
      <li>libros IVA (manuales y computarizados)</li>
      <li>gestorìa ( municipalidad, DGR, DGI, Secretaria de Trabajo), tanto en la provincia de Tucumán, como en otras
        del
        Norte Argentino</li>
      <li>liquidación de haberes y previsionales (convenios: VIAJANTES, SEOC)</li>
      <li>libro de remuneraciones ( manuales y computarizados)</li>
      <li>manejo de programas de AFIP</li>
      <li>cuentas bancarias</li>
      <li>atención de clientes (part-time)</li>
    </ul>
    <p class="ref">eferencias laborales: Sra. Viviana Corvalan, 0381-5231818</p>

    <hr>

    <p class="desde">Desde marzo de 1990 a mayo de 1991</p>
    <p class="cargo">Auxiliar administrativa</p>
    <p class="lugar"><u>Lugar:</u> S.I.E. (sistemas integrales electromecánicos)<br>
      <small>Paso de los
        Andes Nº 1991, S.M. Tucumán</small>
    </p>
    <p>Mis tareas consistieron en:</p>
    <ul>
      <li>liquidar libros IVA, caja, bancos, diarios</li>
      <li>seguimientos de cuentas corrientes</li>
      <li>depósitos</li>
    </ul>
    <p>Recursos Humanos</p>
    <ul>
      <li>liquidación de haberes</li>
      <li>control de presentismo</li>
    </ul>
    <p>Gestorìa:</p>
    <ul>
      <li>Trámites en gral. ante organismos públicos
        y privados</li>
    </ul>
    <p class="ref">Cerró en el año 1999, por cambio de firma.</p>
</div>