<div id="cuerpos">
  <h4>Antecedentes Laborales</h3>
    <h1>Experiencia en Farmacias</h1>
    <hr>
    <p class="desde">Desde noviembre 2013 a abril 2019</p>

    <p class="lugar"><u>Lugar:</u> BRADEL del PUEBLO</p>
    <h3></h3>
    <ul>
      <li>Desde 2013 supervisión, pagos,
        proveedores y control de post-net de 17 sucursales. Seguimiento de plantilla del
        personal,(mediación),área RR.HH.</li>
      <li>Desde 2017 auditorìa recetas (sector PAMI)
        control y preparaciòn de entregas quincenales en COFATUC (más de 7500 por quincenas)-atenciòn telefònica de
        asuntos
        relacionados con la venta,soluciòn de
        inconvenientes en la emisiòn e intervenciòn en la resoluciòn de conflictos con
        clientes.</li>

    </ul>
    <p class="ref">Ref Laborales :Encargada de Sector: Carmen Molina cel
      part. 0381-156348597</p>
    <hr>

    <p class="desde">Desde septiembre 2005 a 31 diciembre 2007</p>
    <p class="lugar"><u>Lugar:</u> FARMACIA NAMUNCURA</>
    <ul>
      <li>Desde noviembre 1997 a febrero 2000, me desempeñé como auditora de obras sociales y como administrativa
        farmaceútica en dicha farmacia (ubicada en Còrdoba Nº 571 S.M.TUCUMAN).<br>
        Mis tareas consistieron en:
        <ul>
          <li>control y presentaciòn de obras sociales, mutuales, medicinas pre pagas, convenios con particulares,
            droguerías, proveedores y otros</li>
          <li>control de cuentas corrientes de
            clientes</li>
          <li>conciliación de liquidaciones con software de facturación</li>
          <li>control de
            cumplimiennto de normativas de presentación</li>
          <li>carga de liquidaciones de
            sistema de gestión</li>
          <li>control de depòsitos bancarios e imputaciòn de las notas de
            recupero de obras sociales en la cuenta corriente particular del proveedor
            COFARAL y de los cierres de lotes de tarjetas de crèdito</li>
          <li>seguimiento de
            cuentas y depòsitos</li>
          <li>Eventualmente auxiliar en caja: manejo de dinero, posnet
            y rendición de cierre de caja y atención de público ( part time)</li>
        </ul>
      </li>
    </ul>
    <p class="ref">Ref.Laborales:Farmaceùtica Elvira Iranzo- 0381 4002121 (telèfono particular)</p>
</div>