<h3 class="text-center">Mi Curriculum</h3>
<div class="card mb-3 ml-5">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../imagenes/eva-nicosia.jpg" class="card-img" alt="Eva Nicosia">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Eva del Valle Nicosia</h5>
        <p class="card-text">
        <ul id="datos-personales">
          <li>Edad: <span>52 años</span></li>
          <li>Fecha de nacimiento: <span>14/diciembre/1968</span></li>
          <li>Ciudad: <span>San Miguel de Tucumán</span></li>
          <li>Teléfono: <span>381 4344539</span></li>
          <li>Celular: <span>381 5756580</span></li>
          <li>Email: <span>evanicosia@gmail.com</span></li>
        </ul>
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>