<div id="mySidenav" class="sidenav bg-dark">
  <div class="container">
    <h5>Eva del Valle Nicosia</h5>
    <hr>
    <div id="imagenPerfil">
      <img src="../imagenes/eva-nicosia.jpg" alt="Eva Nicosia">
    </div>
  </div>
  <ul id="menu">
    <!-- <li><a href="#/">&nbsp;Home</a></li> -->
    <li><a href="#/personal">&nbsp;Datos Personales</a></li>
    <li><a href="javascript:void(0)">&nbsp;Experiencias</a>
      <ul>
        <li><a href="#/exp-farmacia">Farmacia</a></li>
        <li><a href="#/exp-secretaria">Secretaria</a></li>
        <li><a href="#/exp-cajera">Cajera</a></li>
      </ul>
    </li>
    <li><a href="#/capacidades">&nbsp;Capacidades</a></li>
    <li><a href="#/cursos">&nbsp;Cursos</a></li>
    <li><a href="#/contacto">&nbsp;Contacto</a></li>
  </ul>
  <div class="boton-menu" id="boton-menu-interno">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <div id="footmenu" class="fixed-bottom">
    <p>Desarollado por <span id="tucma">TUCMA.COM</span></p>
  </div>
</div>
<div class="boton-menu" id="boton-menu-externo">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>